.heading{
    text-align: center;
    font-size: 22px;

}

.details{
    font-size: 15px;
}
button{
    /* background-color: #102B4E; */
    color:white;
    width:45px;
    height: 35px;
    border-radius: 5px;
    border:2px solid black;
}
.btn{
   
    height:25px;
    font-size: 13px;
    width:60px;
    border-radius:20px;
    background-color:#000080 !important;
    color:white;
    border-color: black;
    border-width: 15%;
    box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
    font-family:"Ford Antenne Cond" !important;
    white-space: nowrap;
    /* margin-top:20px; */
    margin-left: 8%;
    text-align: center !important;
    padding-bottom: 24px;
  /* height:41px;
    /* margin-top:20px;
    margin-left: 8%; */
}
/* .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-weight: bold !important;
    padding-bottom: 0px !important;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px !important;
    font-size: 11px !important;
  } */
  :host ::ng-deep .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0px 2px;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: bold !important;
    color: #495057;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
    font-size: 11px!important;
  }
  :host ::ng-deep .p-datatable-tbody > tr > td {
    text-align: left;
    padding: 0px 2px;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: bold !important;
    color: #495057;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
    font-size: 9px!important;
}
  .p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0 1px 1px 1px;
    display: none;
}
td{
    border-right: 1px solid #bdbdbd !important;
  }
  tr:nth-child(even){ background-color:#f5f5f5 !important; } tr:nth-child(odd){ background-color:#ffff; }

  :host ::ng-deep .p-datatable-report{
  box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
}

/* tr:nth-child(even){ background-color:#f5f5f5 !important; } tr:nth-child(odd){ background-color:#ffff; } */
thead.p-datatable-thead {

position: sticky;
top: -7px;
z-index: 105;

}
:host ::ng-deep .p-element .p-dialog .p-component {

width: 39% !important;
}
:host ::ng-deep p-columnfilterformelement.p-element.p-fluid {
display: inline-block;
width: 60%;
margin-left:20%;
}
:host ::ng-deep .p-column-filter-row {
display: inline-block !important;
align-items: center;
width: 100%;
}
:host ::ng-deep p-columnfilterformelement.p-element.p-fluid {
display: inline-block;
width: 60%;
margin-left:20%;
}
:host ::ng-deep .p-column-filter-row {
display: inline-block !important;
align-items: center;
width: 100%;
}
.p-fluid .p-inputtext {
width: 100%;
min-width: 100px;
color:black !important ;
/* padding-left: 26px; */
/* padding: 59px; */
margin-left: -5px;
/* margin-right: 112px; */
} 
:host ::ng-deep .p-fluid .p-inputtext {
height:38px;
color: black;
}
:host ::ng-deep .p-inputtext {
    font-size: 11px;
    margin-top: -7px;
}
:host ::ng-deep .p-dropdown-item {
    font-size: 11px;
}
:host ::ng-deep cdk-virtual-scroll-viewport.cdk-virtual-scroll-viewport.ng-tns-c63-1.cdk-virtual-scroll-orientation-vertical.ng-star-inserted {
    width: 300px;
}
:host ::ng-deep cdk-virtual-scroll-viewport.cdk-virtual-scroll-viewport.ng-tns-c63-2.cdk-virtual-scroll-orientation-vertical.ng-star-inserted {
    width: 300px;
}
:host ::ng-deep cdk-virtual-scroll-viewport.cdk-virtual-scroll-viewport.ng-tns-c63-4.cdk-virtual-scroll-orientation-vertical.ng-star-inserted {
    width: 300px;
}
:host ::ng-deep .p-column-filter-menu-button, .p-column-filter-clear-button {
display: inline-block;
/* justify-content: center; */
/* align-items: center; */
cursor: pointer;
text-decoration: none;
overflow: hidden;
position: relative;
}
:host ::ng-deep td{
border-right: 1px solid #bdbdbd !important;
white-space: nowrap !important;
}
:host ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper>table, .p-datatable-auto-layout>.p-datatable-wrapper>table {
    table-layout: auto;
    margin: -8px;
}
:host ::ng-deep th{
white-space: nowrap !important;
border-right: 1px solid white !important;
}
:host ::ng-deep .p-datatable{
box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
}
:host ::ng-deep .p-column-filter-clear-button .p-link{
display: none;
}
:host ::ng-deep .p-fluid .p-inputtext {
width: 100%;
min-width: 100px;
color:black !important ;
/* padding-left: 26px; */
/* padding: 59px; */
margin-left: -20px;
/* margin-right: 112px; */
} 
td{
    border-right: 1px solid #bdbdbd !important;
    white-space: nowrap !important;
    
    }
    th{
    white-space: nowrap !important;
    border-right: 1px solid #bdbdbd !important;
  }
.p-datatable-thead {

        position: sticky;
        top: -11px !important;
        z-index: 105;
        
 }
 :host ::ng-deep thead.p-datatable-thead {
  
            position: sticky !important;
            top: -7px;
            z-index: 105;
            
 }
       