<!-- jagan -->
<div class="card">
    <div class="card-header">
        Selection Criteria
    </div>
    <div class="card-body">
        <div style="display: flex;">
            <label>Product Type:</label>
            <input type="text" style="width: 30%; border: 1px solid black;margin-left:10px">
            <button type="button" style="border-radius: 8px;width:120px;margin-left:30%">Select</button>
        </div>
        <input type="text" style="width:100px;border: 1px solid black;">
        <textarea type="text" class="box"></textarea>

        <div style="display: flex; margin-top: -3%;">
            <button type="button" style="border-radius: 8px;width:120px;margin-left:12%">Ok</button>
            <input type="text" style="width: 30%; border: 1px solid black;margin-left:15px">
            <button type="button" style="border-radius: 8px;width:120px;margin-left:3%">Cancel</button>
        </div>
    </div>
</div>