.btn1{
   
    height:41px;
    width:106px;
    border-radius:20px;
    background-color:#00095B;
    box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
    font-family:"Ford Antenne Cond" !important;
    
    margin-top:20px;
    margin-left: 1%;
    
}
.p-dialog-header.ng-tns-c98-0.ng-star-inserted {
    padding: 0px 10px !important;
    font-size: 12px !important;
}