<h1 style="color: red;">screen in progress</h1>
<div *ngIf="veh==true">
<label for="vehicleLine"
style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:8px;padding-right:10px ">
IRP number :{{irp}} </label>
<div  style="width:30%;margin-left:30%;">
    <textarea rows="10"  style="border: 1px solid black;border-radius: 3px;">
    </textarea>
    <br>
    <button class="btn btn-primary btn-block" id="btn">Clear</button>&nbsp;&nbsp; 
    <button class="btn btn-primary btn-block" id="btn">Save</button>&nbsp;&nbsp;
    <button class="btn btn-primary btn-block" id="btn">Close</button>&nbsp;&nbsp;
 </div>
 </div>
 <div *ngIf="grp==true">
    <label for="vehicleLine"
    style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:8px;padding-right:10px ">
    IRP number :{{irp1}} </label>
    <div  style="width:30%;margin-left:30%;">
        <textarea rows="10"  style="border: 1px solid black;border-radius: 3px;">
        </textarea>
        <br>
        <button class="btn btn-primary btn-block" id="btn">Clear</button> &nbsp;&nbsp;
        <button class="btn btn-primary btn-block" id="btn">Save</button> &nbsp;&nbsp;
        <button class="btn btn-primary btn-block" id="btn">Close</button>&nbsp;&nbsp;
     </div>
     </div>
     <div *ngIf="pre==true">
        <label for="vehicleLine"
        style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:8px;padding-right:10px ">
        IRP number :{{irp2}} </label>
        <div style="width:30%;margin-left:30%;">
            <textarea rows="10" style="border: 1px solid black;border-radius: 3px;">
            </textarea>
            <br>
            <button class="btn btn-primary btn-block" id="btn">Clear</button>&nbsp;&nbsp; 
            <button class="btn btn-primary btn-block" id="btn">Save</button>&nbsp;&nbsp;
            <button class="btn btn-primary btn-block" id="btn">Close</button> &nbsp;&nbsp;
         </div>
         </div>
