

 .header{
  background-color: #102B4E !important ;
  font-weight:bold
}
.body {
  display: flex;
  margin: 0 auto;
  /* height: 100vh; */
}
.showcase {
  position: relative;
}

.bg-image {
  width:176%;
  opacity: 0.5;
}

.bg-img-title {
  border: solid 1px black;
  position: absolute;
  width: 160%;
  font-weight: bold;
  top: 1%;
  left:7%;
  background-color: white;
  opacity: 0.7;
}
.bg-img-title input{
  font-weight: bold;
  border:solid 1px black;
}
.bg-img-title label{
  font-weight: bold;
}
.bg-img-title select{
  font-weight: bold;
  border:solid 1px black;
}
.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.53);
}

.p-dialog .p-dialog-header{
  border-bottom: 0 none !important;
  background:#9090a0 !important;
  color: white !important;
  padding: 1.5rem !important;
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
}
.p-dialog-header {
  background: #000080 !important;
  color: white !important;
}

.p-dialog-header ng-tns-c96-0 ng-star-inserted{
  border-bottom: 0 none !important;
  background:#000080 !important;
  color: white !important;
  padding: 1.5rem !important;
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
}

#btnw{
   
  height:25px;
  font-size: 13px;
  width:80px;
  border-radius:20px;
  background-color:#000080 !important;
  color:white;
  box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
  font-family:"Ford Antenne Cond" !important;
  white-space: nowrap;
  /* margin-top:20px; */
  margin-left: 1.5%;
  
}
.p-dropdown-items-wrapper {
  overflow: auto !important;
  /* width: 100%;;; */
}
.ng-trigger.ng-trigger-overlayAnimation.ng-tns-c61-7.p-dropdown-panel.p-component.ng-star-inserted {
  width: 100% !important;
}
th{
  /* min-width:200px !important; */

  white-space:nowrap
}

.p-datatable-sm{
  box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
 
}


.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  /* padding: 0.5rem 0.5rem; */
 white-space: nowrap;
  padding: 0%;
  padding: 0px;
  height:25px !important;
  border-right: 1px solid white;
  font-weight:bold;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
.p-fluid .p-inputtext {
  width: 100%;
  min-width: 100px;
  color:black !important ;
  /* padding-left: 26px; */
  /* padding: 59px; */
  margin-left: -20px;
  /* margin-right: 112px; */
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.p-fluid .p-inputtext {
  height:38px;
   color: black;
}
button {
  
  padding-top: 0% !important;
 
}
/* button .p-button-icon .pi .pi-calendar{
  margin-top: 5px !important;
} */
 
.p-column-filter-menu-button, .p-column-filter-clear-button {
  display: inline-block;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.p-column-filter-menu-button {
  width: 20px;
  height: 20px;
  /* margin-top:5px; */
  /* color: #6c757d; */
  color:white;
  border: 0 none;
  background: transparent;
  border-radius: 0px; 
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-column-filter-row {
  display: block;
  align-items: center;
  width: 100%;
}

p-columnfilterformelement.p-element.p-fluid {
  display: inline-block;
  width: 60%;
  margin-left:20%;
}
.p-column-filter-row {
  display: inline-block !important;
  align-items: center;
  width: 100%;
}
.p-column-filter-clear-button .p-link{
  display: none;
}
/* .p-link.ng-tns-c94-9.ng-star-inserted */
/* button>.p-column-filter-clear-button  {
  color: transparent;
  display: none;
} */
button.p-column-filter-clear-button.p-link {
  color: transparent;
  background: transparent;
  display: none;
}
thead.p-datatable-thead {
  
  position: sticky;
  top: -8px;
  z-index: 105;
  
  }
  .p-element.ng-trigger.ng-trigger-animation.ng-tns-c102-9.p-dialog.p-component.ng-star-inserted {
    
    width: 39% !important;
}
th{
  height:25px !important;
}

td{
  border-right: 1px solid #bdbdbd !important;
  ;height:25px !important;
}

tr:nth-child(even){ background-color:#f5f5f5 !important; } tr:nth-child(odd){ background-color:#ffff; }
      
.p-datatable-responsive-scroll>.p-datatable-wrapper>table, .p-datatable-auto-layout>.p-datatable-wrapper>table {
  table-layout: auto;
  margin: -1%;
}

:host ::ng-deep.p-dialog-header-close-icon.ng-tns-c96-11.pi.pi-times {
  margin-left: 15px !important;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: -20px !important;
  margin-left: 20px !important;
 
}
.p-dropdown .p-dropdown-label{
  font-size: 11px !important;
  margin-top: -7px !important;
}

.ng-trigger .ng-trigger-overlayAnimation {
  width: 190% !important;
  top: 350px !important;
}
.p-datepicker table td {
  padding: 0%;
}
/* .p-calendar-w-btn .p-inputtext {
  height: 38px;
} */
.p-datepicker table td > span {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  margin-right: 0.5rem;
  padding-top: 0%;
  padding-bottom: 0%;
}
 .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #495057;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  font-weight: 600;
  padding: 0.5rem;
  padding-top: 0%;
  padding-bottom: 0%;
}
/* 
::ng-deep .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c69-7.p-datepicker.p-component.ng-star-inserted {
  top:-240px !important;
  z-index: 99999999999 !important;
  width: 190% !important;
}
::ng-deep .p-datepicker table td {
  padding: 0%;
}
::ng-deep .p-calendar-w-btn .p-inputtext {
  height: 38px;
} */




span#pr_id_1_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_2_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_3_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_4_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_5_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_6_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_7_label {
   font-size: 11px !important;
  margin-top: -7px;
}
span#pr_id_8_label {
   font-size: 11px !important;
  margin-top: -7px;
}
div {
   font-size: 11px !important;
}
.p-dropdown{
  padding-top: 0% !important;
  /* margin-top: 3% !important; */
  background-color: white;
  position : relative;
}
input.p-dropdown-filter.p-inputtext.p-component{
  height:25px !important;
}
input.p-dropdown-filter.p-inputtext.p-component {
   font-size: 11px !important;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: #6c757d !important;
   font-size: 11px !important;
  margin-top: -7px !important;
}
.pi-chevron-down:before {
  content: "\e902";
   font-size: 11px !important;
 
  margin: 75%;
  /* margin-top: -80%; */
}
.p-calendar-w-btn .p-datepicker-trigger {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 25px;
}
.p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
   height: 25px;
}
/* form.bg-text.ng-untouched.ng-valid.ng-dirty {
  margin-left: 6%;
} */
/* .p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
  height: 50px;
  margin-top: -1.5%;
} */
/* .p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
} */
.p-paginator {
  background: #ffffff;
  color: #6c757d;
  border: none !important;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.p-paginator-bottom.p-paginator.p-component.ng-star-inserted {
  margin-top: -2%;
  margin-bottom: -2.5%;
  display: none;
}
.p-radiobutton .p-radiobutton-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 15px;
  height: 15px;
  margin-top:5px !important;
  color: #495057;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 10px;
}
.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  /* padding: 1rem 1rem; */
  padding: 0;
  padding-left: 1px !important;
  padding-right: 1px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  height: 20px !important;
  font-weight: bold !important;
  font-size: 9px !important;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  /* padding: 0.5rem 0.5rem; */
  white-space: nowrap;
  padding: 0%;
  padding: 0px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  height: 20px !important;
  border-right: 1px solid white;
  font-weight: bold !important;
}
input {
  width: fit-content;
  margin: auto;
}
span#pr_id_32_label {
  font-size: 11px !important;
 margin-top: -8px !important;
}
span#pr_id_31_label {
  font-size: 11px !important;
   margin-top: -8px !important;
}

span#pr_id_27_label {
   margin-top: -8px !important;
  font-size: 11px !important;
}

span#pr_id_28_label {
   margin-top: -8px !important;
  font-size: 11px !important;
}
span#pr_id_29_label {
  font-size: 11px !important;
   margin-top: -8px !important;
}
span#pr_id_30_label {
  font-size: 11px !important;
   margin-top: -8px !important;
}
span#pr_id_25_label {
  font-size: 11px !important;
   margin-top: -8px !important;
}
textarea.p-inputtextarea.p-inputtext.p-component.p-element.ng-tns-c98-10 {
  font-size: 11px !important;
}
button.p-ripple.p-element.p-button.p-component {
  height: 25px;
  font-size: 11px !important;
  font-size: 11px !important;
  /* border-radius: 14px; */
}
.p-dialog .p-dialog-header {
  border-bottom: 0 none !important;
  background: #000080 !important;
  color: white !important;
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  padding: 0px 20px !important !important;
  font-size: 13px !important !important;
}
span#pr_id_11-label {
  font-size: 13px !important;
}
/* .p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
  display: none;
} */