<div class="container">
    <p-dialog  [(visible)]="display" >
        <div class="card">
            <div class="card-header">Change Commodity</div>
        <label for="commodity" >Commodity :</label>
        <input type="text" >
        <label for="commoditytype" >Commodity Type :</label>
        <input type="text">
        <button class="btn btn-primary" style="margin-left: 64px;">Save</button>
        <button class="btn btn-primary" style="margin-left: 157px;margin-top: -38px;">Close</button>
    </div>
    </p-dialog>
</div>
