<div style="margin-top:3% ;background-image: url('assets/3.jpg');margin-bottom: 0%;height: 12%;">
    <br>
    <u><h2 style="text-align: center;font-size: 28px;color:#ffffff;">Usage Information</h2></u>
    <hr>
</div>
<br><br>
<div class="row">
    <div class="col-lg-1" style="margin-left:10%; display:flex;">

        <label style="width:200px;"><strong>Eng.#:</strong></label>
        <input type="text" style="border-color:black;width:175px; margin-left:43%;">
    </div>
    <div class="col-lg-1" style="margin-left:14%;">

        <label><strong>Origin:</strong></label>
        <input type="text" style="border-color:black;width:175px; margin-left:64%; ">
    </div>
    <div class="col-lg-1" style="margin-left:12%;">

        <label style="width:200px;"><strong>Seq.#:</strong></label>
        <input type="text" style="border-color:black;width:175px; margin-left:39%;">
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-1" style="margin-left:10%;">

        <label style="width:1000px;"><strong>ProductType:</strong></label>
        <input type="text" style="border-color:black; width:175px; margin-left: 2%;">
    </div>


    <div class="col-lg-1" style="margin-left:14%;">

        <label><strong>PTOrigin:</strong></label>
        <input type="text" style="border-color:black; width:175px; margin-left:49%; ">
    </div>
    <div class="col-lg-1" style="margin-left:12%;">

        <label><strong>VehicleLine:</strong></label>
        <input type="text" style="border-color:black; width:175px; margin-left:2%;">
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-1" style="margin-left:10%;">

        <label><strong>Description:</strong></label>
        <input type="text" style="border-color:black;  width:175px; margin-left:8%;">
    </div>
    <div class="col-lg-1" style="margin-left:14%;">

        <label><strong>CommodityDesc:</strong></label>
        <input type="text" style="border-color:black; margin-left:3%; width:175px; ">
    </div>
</div>

<hr>
<h4>Usage Information</h4>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-2" style="margin-left:10%; ">
        <label><strong>Function:</strong></label>
        <input type="text" style="border-color:black; width:175px; margin-left: 23%;">
    </div>
    <div class="col-lg-2" style="margin-left:4%; ">
        <label><strong>ServiceParts:</strong></label>
        <input type="text" style="border-color:black; margin-left: 10%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%; ">
        <label><strong>CommodityType:</strong></label>
        <input type="text" style="border-color:black; margin-left:13%; width:175px;">
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-2" style="margin-left:10%; ">
        <label><strong>CommodityDesc:</strong></label>
        <input type="text" style="border-color:black; width:175px; margin-left:2%;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>Commodity:</strong></label>
        <input type="text" style="border-color:black; margin-left:13%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>CommodityRemarks:</strong></label>
        <input type="text" style="border-color:black; margin-left:2%; width:175px;">
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-2" style="margin-left:10%;">
        <label><strong>UnitofMeasure:</strong></label>
        <input type="text" style="border-color:black;  margin-left:7%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>CreatedBy:</strong></label>
        <input type="text" style="border-color:black; margin-left:16%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>CreationDate:</strong></label>
        <input type="date" style="width:220px; height:40px; margin-left:22%;">
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-2" style="margin-left:10%; ">
        <label><strong>CatalogStatus:</strong></label>
        <input type="text" style="border-color:black;  margin-left:7%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>CatalogedBy:</strong></label>
        <input type="text" style="border-color:black; margin-left:10%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>CatalogedDate:</strong></label>
        <input type="date" style="width:220px; height:40px; margin-left:18%; width:50%;">
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-lg-2" style="margin-left:10%;">
        <label><strong>LastUpdateId:</strong></label>
        <input type="text" style="border-color:black; margin-left:9%; width:175px;">
    </div>
    <div class="col-lg-2" style="margin-left:4%;">
        <label><strong>LastUpdateDate:</strong></label>
        <input type="date" style=" height:40px; margin-left: 2%; width:50%;">
    </div>
</div>
<hr>