.card {
    width: 500px;
}

input[type=text] {
    height: 38px;
}

input[type=checkbox] {
    margin-bottom: 3;
}

p {
    font-size: 16px;
    color: #000080;
    font-family: Ford Antenna;
}

#btn {

    height: 25px;
    font-size: 13px;
    width: 80px;
    border-radius: 20px;
    background-color: #000080 !important;
    color: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    font-family: "Ford Antenne Cond" !important;
    white-space: nowrap;
    /* margin-top:20px; */
    margin-left: 1.5%;
}




label {
    font-size: 16px;
    color: black;
    margin-bottom: 0;
    padding-left: 3%;
}

b {
    font-size: 20px;
    color: white;
}

.si {
    border-radius: 5px;
    height: 35px;
    outline: none !important;
    border: 1px solid black;
}

button {
    background-color: #000080;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

th {
    background-color: #000080;
}

.btn {
    margin-top: 20px;
}

.custom-spinner {
    margin-left: auto !important;
    margin-right: auto !important;
}

p-progress-spinner-color {
    stroke: #000080 !important;
}

.highlightRow {
    background-color: #000080 !important;
    color: white !important;
}

button {
    margin-top: 1%;
    margin-left: 2%;
    width: 8%;
    background-color: #000080 !important;
    color: white !important;
    padding: auto;
    border-radius: 5px;
    margin-bottom: 2%;
    font-size: 16px;
    font-weight: 700;
}

input[disabled] {
    background-color: rgb(223, 219, 219);
}

.required:after {
    content: " *";
    color: #e32;
    font-size: 16px;
    font-weight: bolder;
}

::ng-deep .ng-trigger .ng-trigger-overlayAnimation .ng-tns-c69-1 .p-datepicker .p-component .ng-star-inserted {
    width: 190% !important;
    top: 350px !important;
}

::ng-deep .p-datepicker table td {
    padding: 0%;
}

::ng-deep .p-calendar-w-btn .p-inputtext {
    height: 25px;
}

::ng-deep .p-datepicker table td>span {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    margin-right: 0.5rem;
    padding-top: 0%;
    padding-bottom: 0%;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: #495057;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    font-weight: 600;
    padding: 0.5rem;
    padding-top: 0%;
    padding-bottom: 0%;
}

span#pr_id_1_label {
    font-size: 11px !important;
}

th {
    height: 25px !important;
}

tr {
    height: 25px !important;
    font-weight: bold !important;
}


th {
    position: sticky;
    top: 0;
    border-right: 1px solid #bdbdbd !important;
    height: 25px !important;
    font-weight: bold !important;
}

td {
    font-size: 11px;
    height: 25px !important;
    font-weight: bold !important;
    border-right: 1px solid #bdbdbd !important;

}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    text-align: left;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    /* padding: 1rem 1rem; */
    padding: 0;
    font-size: 11px;
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 25px !important;
    font-weight: bold !important;
    border-right: 1px solid #bdbdbd !important;
}
:host ::ng-deep.p-datatable-responsive-scroll>.p-datatable-wrapper {
    margin-left:-2%;
}

/* .p-inputtext{
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

/* .span.ng-tns-c71-4.p-calendar.p-calendar-w-btn {
    height: 25px !important;
} */
:host ::ng-deep .p-calendar-w-btn .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 10px;
}

:host ::ng-deep .p-calendar-w-btn .p-datepicker-trigger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 25px;
}

:host ::ng-deep .p-calendar-w-btn .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 25px;
}

:host ::ng-deep .p-inputtext {
    font-size: 11px;
    margin-top: -7px;
}

:host ::ng-deep .p-dropdown-item {
    font-size: 11px;
}

:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
    font-weight: bold !important;
    padding-bottom: 0px !important;
    /* padding: 0.5rem 0.5rem; */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px !important;
    font-size: 11px !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    /* padding: 0.5rem 0.5rem; */
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 9px !important;
    font-weight: bold !important;

}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0 1px 1px 1px;
    display: none;
}

:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    padding: 0px 2px !important;
    font-size: 9px !important;
    font-weight: bold !important;
}

:host::ng-deep .p-calendar-w-btn .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 25px;
    margin-top: 0px !important;
  }
  :host::ng-deep span.ng-tns-c71-0.p-calendar.p-calendar-w-btn.p-calendar-disabled {
    margin-top: 0px !important;
  }

  :host::ng-deep .p-calendar {
    position: relative;
    display: inline-flex;
    min-width: 111%;
}


:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title
      {
          font-size: 11px;
      }
      :host ::ng-deep span.p-button-label.ng-star-inserted {
        font-size: 13px !important;
    }
    :host ::ng-deep button.p-ripple.p-element.p-button.p-component {
        padding: 5px;
        height: 25px !important;
        /* border-radius: 14px; */
    }
    :host ::ng-deep .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #ffffff;
        color: #495057;
        /* padding: 1.5rem; */
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        padding: 0px 10px !important;
    }