label{
    color:#00095B;
     font-family:Ford Antenna;
    font-size :16px;
    font-weight:bold;
    width:16%;
    text-align: right;
    padding-right:10px;
    }
    div{
        margin:0;
        padding:0;
    }
    .btn{
        height:25px;
        font-size: 13px;
        width:60px;
        border-radius:20px;
        background-color:#000080 !important;
        color:white;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        /* margin-top:20px; */
        margin-left: 1.5%;
        text-align: center !important;
        padding-bottom: 24px;
       
        /* height:41px;
        width:106px;
        border-radius:20px;
        background-color:#00095B;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1) ;
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        margin-top:20px;
        margin-left: 17%; */
        
    }
    .btn1{
       
        height:41px;
        width:106px;
        border-radius:20px;
        background-color:#00095B;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        margin-top:20px;
        margin-left: 2%;
        
    }
    
    
    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
       
        background: #102B4E !important;
           color: #FFFFFF !important;
        
    }
    p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
        margin-right: -10px;
        margin-left:20px;
        background: #102B4E !important;
    }
    :host ::ng-deep .p-inputtext {
        font-size: 11px;
        margin-top: -7px;
        
    }
    :host ::ng-deep .p-dropdown-item {
        font-size: 11px;
    }
    #btn{
   
        height:25px;
        font-size: 13px;
        width:80px;
        border-radius:20px;
        background-color:#000080 !important;
        color:white;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        /* margin-top:20px; */
        margin-left: 6%;
        
      }
      #btn1{
   
        height:25px;
        font-size: 13px;
        width:80px;
        border-radius:20px;
        background-color:#000080 !important;
        color:white;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        /* margin-top:20px; */
        margin-left: 11%;
        /* text-align: center; */
        
      }
      #btn2{
   
        height:25px;
        font-size: 13px;
        width:80px;
        border-radius:20px;
        background-color:#000080 !important;
        color:white;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        margin-top:2%;
        margin-left: 79%;
        
      }
      :host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
        font-weight: 600;
        font-size: 0.90rem !important;
        /* height: 19px !important; */
      }