.heading{
    font-weight:bold; 
    font-size:30px;
    margin-left: 45%;
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    
    input#irpNo {
        font-size: 11px;
    }

#label{
    color:#00095B;
     font-family:Ford Antenna;
     font-size :11px;
     font-weight:bold;
     text-align: right;
     width:50%;
     text-align:right;
     /* margin-top:8px; */
     padding-right:10px;
     float:left
}
#btn{
   
    height:25px;
    width:50px;
    border-radius:20px;
    background-color:#00095B;
    box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
    font-family:"Ford Antenne Cond" !important;
    white-space: nowrap;
    border:none !important;
    margin-left:5%;
    font-size: 11px;;
    /* margin-top:20px;
    margin-left: 8%; */
    
}
th{
    font-size:11px !important;
text-align:center !important;
white-space:nowrap;
border-right: 1px solid #bdbdbd !important;
padding:0px 10px !important;
    font-weight:bold !important;

}
tr:nth-child(even){ background-color:#f5f5f5 !important; } tr:nth-child(odd){ background-color:#ffff; }
td{
    border-right: 1px solid #bdbdbd !important;
    font-size:11px !important;
    padding:0px 10px !important;
  }
:host ::ng-deep .p-datatable-wrapper {
    margin-top: -13px;
}

:host ::ng-deep .p-datatable{
    box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
}

div{
    margin:0;
    padding:0;
}
.form-check-inline {
    display: inline-block;
    margin-right: 5px;
    margin-left: 20px !important;
}
:host ::ng-deep table#pr_id_8-table {
    margin:-8px
}
:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    font-size: 11px;
    margin-top: -6px;
}
:host ::ng-deep span#pr_id_1_label {
    font-size: 11px !important;
    margin-top: -6px !important;
}:host ::ng-deep span#pr_id_2_label {
    font-size: 11px !important;
    margin-top: -6px !important;
}:host ::ng-deep span#pr_id_3_label {
    font-size: 11px !important;
    margin-top: -6px !important;
}:host ::ng-deep span#pr_id_4_label {
    font-size: 11px !important;
    margin-top: -6px !important;
}
:host ::ng-deep span#pr_id_5_label {
    font-size: 11px !important;
    margin-top: -6px !important;
}
:host ::ng-deep span#pr_id_6_label {
    font-size: 11px !important;
    margin-top: -6px !important;
}
div {
    font-size: 11px !important;
}
:host ::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    height:25px;
}
:host ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper>table, .p-datatable-auto-layout>.p-datatable-wrapper>table {
    table-layout: auto;
    margin-left: -10px !important;
    margin-top: -8px !important;
}