<div style="clear:both;"></div>
<div style="overflow: visible;height:500px;" >
<div class="accordion1" style="margin-top: -1%;">
    <div class="header" (click)="showCenterPart()" [style.border-radius]="br1"  style="height:23px;width:94%;margin-left:3%;padding:1%; background-color: #102B4E;display:inline-block;border-radius:5px 5px 0px 0px;">
        <span style="font-size: 12px;float:left;margin-top: -1%;color: white;">Audit Section View</span>
        <i class="fa-solid fa-plus" [style.transform]="rotate" aria-hidden="true" style="margin-top: -8px;float:right;font-size: 17px;color: red; "></i>
    </div>
    <div class="centerpart" [style.display]="display" style="width:94%;height:100px;background:white;top:65px;z-index: 100;margin-left:3%;margin-top:-5px;box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);border-radius: 0px 0px 5px 5px;">
        <div class="partcol1" style="width:100%;float: left;margin-left: -4%;">
            <div class="row" style="width:32%;float:left;display:flex">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Vehicle Line :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-top: -8%;
                margin-left: 52%;">{{auditdetails.vehiclLine}}</p> 
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left: -6%;">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Section :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-left: 53%;
                margin-top: -8%;">{{auditdetails.section}}</p> 
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left:-9%;">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Prefix Code :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-left: 53%;
                margin-top: -9%;">{{auditdetails.prefixCode}}</p> 
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left:-13%;">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Suffix :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-left: 53%;
                margin-top: -8%;">{{auditdetails.suffix}}</p> 
            </div>
        </div>
        <div class="partcol1" style="width:100%;float: left;margin-left: -4%;margin-top: -1%;">
            <div class="row" style="width:32%;float:left;display:flex">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Eff.In.Date :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-top: -8%;
                margin-left: 52%;">{{auditdetails.effInDate}}</p>
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left:-6%;">
                <ng-template [ngIf]=" switchview==0">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Section Model Year :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-top: -8%;
                margin-left: 52%;">{{auditdetails.sectionModelYear}}</p>
                </ng-template>
                <ng-template [ngIf]=" switchview==1">
                    <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                        Type :
                    </label>
                    <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-top: -8%;
                    margin-left: 52%;">{{auditdetails.cmdtyType}}</p>
                    </ng-template> 
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left:-9%">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Lexicon :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-top: -8%;
                margin-left: 52%;">{{auditdetails.lexicon}}</p> 
            </div>
        </div>
        <div class="partcol1" style="width:100%;float: left;margin-left: -4%;margin-top: -1%;">
            <div class="row" style="width:32%;float:left;display:flex">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Eff.Out.Date :
                </label>
                <p style="color:#00095B; font-family:Ford Antenna;font-size :10px;margin-top: -8%;
                margin-left: 52%;">{{auditdetails.effOutDate}}</p> 
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left:-6%">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Illustration :
                </label>
                <button class="btn" style="color:#00095B; font-family:Ford Antenna;font-size :11px;margin-top: -32px;
                margin-left: 57%;padding: 4px;width: 26%;height:25px;text-align: center;">{{auditdetails.illustration}}</button> 
                <ng-template [ngIf]=" switchview==1">
                <p style="font-size: 11px;color:red;font-family:Ford Antenna;margin-top: -8%;margin-left: 82%;">{{arrow}}Click here to view Illustration</p>
                </ng-template>
            </div>
            <div class="row" style="width:32%;float:left;display:flex;margin-left:-9%">
                <ng-template [ngIf]=" switchview==0">
                <label  style=" color:#00095B; font-family:Ford Antenna;font-size :11px;font-weight:bold;width:60%;text-align: right;margin-top:8px;padding-right:10px;margin-left: -3%;">
                    Click to Switch View :
                </label>
                <button class="btn" style="color:#00095B; font-family:Ford Antenna;font-size :11px;margin-top: -32px;
                margin-left: 57%;padding: 4px;width: 26%;height:25px;text-align: center;" (click)="switchView()">Audit Off</button> 
                </ng-template>
            </div>
    </div>
</div>
</div>
<div style="clear:both;"></div>
<div class=container2 style="width: 100%;margin:0;padding: 0;">
<div class="accordion2" style="margin-top:3px">
        <div class="header"  (click)="showCenterPart2()" [style.border-radius]="br2"  style="color:white;height:17px;width:94%;margin-left:3%;padding:1%; background-color: #102B4E;display:inline-block;border-radius:5px 5px 0px 0px;">
            <span style="font-size: 11px;margin-top:-1%;float:left">Section Properties  {{property}}</span>
            <i class="fa-solid fa-plus" [style.transform]="rotate1" aria-hidden="true"
            style="float:right;font-size: 17px;margin-top:-7px;color: red; "></i> 
       </div>
    <div class="centerpart" [style.display]="display1" style="width:94%;height:auto;background:white;top:65px;z-index: 100;margin-left:3%;margin-top:-16px;box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);">
        <!-- <div  class="report" style="width:100%;margin-top:1%;" >
            <ng-template [ngIf]=" switchview==0">
            <div class="row" style="width:100%;" >
                
                <div class="col-lg-2" *ngFor="let i of arr" style="margin-left:1%;font-size:9px;color:#00095B; font-family:Ford Antenna;">
                            sEngpart : {{ i.sectionproperties }}
                </div>
                </div>
            </ng-template>
            </div> -->
        
        
            <div class="table" style="margin-top:1%;">
            <p-table [value]="sectionproperties" scrollDirection="both"  [showCurrentPageReport]="true"
             responsiveLayout="scroll" [rowHover]="true" scrollHeight="330px">
              <ng-template pTemplate="caption" style="margin-bottom: 10px;">
                  <div class="table-header" style="margin-left: 1%;font-size:13px;font-weight:bold;padding-bottom:3px;background-color: rgb(255, 255, 255);border-color: black;">
                    Catalog Parts Records
                  </div>
              </ng-template>
              
              <ng-template pTemplate="header" style="margin-top:-10px !important" >
                  <tr style="background-color: #000080;position:sticky;top:-0px;margin-top:-10px !important">
                      <th>Cmdtysuff</th>
                      <th>Cmdty</th>
                      <th>Sfx</th>
                      <th>Name</th>
                      <th>MY</th>
                      <th>Eff In/Eff Out</th>
                      <th>Service Part/Parrner Part</th>
                      <th>PFC/MFC</th>
                      <th>SPEC & APP</th>
                      <th>QTY</th>
                      <th>OSI</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-d let-ri="rowIndex" >
                  <tr style="top:20px;position: sticky;">
                      <td>{{d.cmdtSufx}}</td>
                      <td>{{d.cmdty}}</td>
                      <td>{{d.sfx}}</td>
                      <td>{{d.name}}</td>
                      <td>{{d.my}}</td>
                      <td>{{d.eftInAndeftOut}}</td>
                      <ng-template [ngIf]="d.flag==true">
                        <td >{{d.serviceAndPartent}}</td>
                      </ng-template>
                      <ng-template [ngIf]="d.flag==false">
                        <td  style="background-color: red;">{{d.serviceAndPartent}}<br>Missing Service Part!</td>
                      </ng-template>
                      <td>{{d.pfcAndMfc}}</td>
                      <td>{{d.specAndApp}}</td>
                      <td>{{d.qty}}</td>
                      <td>{{d.osi}}</td>
                  </tr>
                </ng-template>
            </p-table>      
            </div>
        </div>
    
</div>
</div>
</div>
<!-- "vehiclLine": "4A - B460 B-ISV 2014",
    "section": "1000105",
    "prefixCode": " ",
    "suffix": " ",
    "lexicon": "80339T - Name Plates",
    "sectionModelYear": null,
    "effInDate": "07-APR-2014",
    "effOutDate": " ",
    "illustration": "K0294040" -->