.tree{
    border-radius: 1%;
    border:1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    height: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}