<!-- jagan -->
<!-- <div class="card" style="margin-top:5%;width:99%;margin-left: 8px;border:1px solid black;padding-bottom: 15px;">
    <div class="card-header" style="background-color: #000080; padding:2px">
        <div class=tab>
            <button class="tablinks" style="margin-left: 25%;">Create/Manage Template</button>
            <button class="tablinks" style="margin-left: 20%;">Build Template</button>
        </div>
    </div>
    <div class="card-body">
        <div style="margin-left: 15%;">
            <div style="display: flex;">
                <label>Template:</label>
                <input type="text" style="width: 20%; border: 1px solid black;margin-left:51px">
            </div>
            <div style="display: flex;margin-top: 15px;">
                <label>Product Type:</label>
                <button type="button" class="vehicle"
                    style="width: 100px; border-radius:20px ; height: 40px;margin-left: 21px;"><img style="width:40px;"
                        class="image__img" src="assets/car.png" alt="car"></button>
                <button type="button" class="vehicle"
                    style="width: 100px; border-radius:20px ;height:40px;margin-left: 20px;"><img style="width:60px;"
                        class="image__img" src="assets/truck.png" alt="Truck"></button>
                <button style="margin-left:20px;margin-top:-4px;" class="btn fa"><b
                        style="font-size:30px">&#xf1e5;</b></button>
            </div>
            <div style="display: flex;margin-top:9px">
                <label>Template Name:</label>
                <input type="text" style="width: 20%; border: 1px solid black;margin-left:15px">
            </div>
            <div style="display: flex;margin-top:15px">
                <label>Help Text:</label>
                <textarea type="text" style="width: 20%; border: 1px solid black;margin-left:51px"></textarea>
            </div>
            <div style="display: flex;margin-top:15px">
                <label>Notes:</label>
                <textarea type="text" style="width: 20%; border: 1px solid black;margin-left:71px"></textarea>
            </div>
        </div>
        <div class="card" style="width: 13%;margin-left: 60%; margin-top: -24%;">
            <div class="card-header" style="background-color:#000080;color:white">Template Type</div>
            <div style="margin-top : 5%; margin-left: 3%;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Normal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Part List</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Callibration List</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Colored Part</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Visual Id</label>
                </div>
            </div>
        </div>
        <div class="buttondiv1" style="margin-left: 10%;margin-top: 80px;">
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;">Save</button>
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left:5px">Delete</button>
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left:5px">Cmdty
                >></button>
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left:5px">Lex Mngt
                >></button>
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left:5px">WQ
                >></button>
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left:5px">WB
                >></button>
            <button type="button"
                style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left:120px">Close</button>
        </div>
    </div>
</div> -->

    <!-- <div class="accordion3" style="margin-bottom:10px"  >
        <div class="header" (click)="showCenterPart3()"  style="width:94%;margin-left:3%;padding:1%; background-color: #000080;display:inline-block;">
         <span style="font-size: 16px;float:left">Create / Manage Template</span>
        <i class="fa-solid fa-plus" [style.transform]="rotate" aria-hidden="true" style="float:right;font-size: 20px;color: red; "></i>     
     
        </div>
    <div class="centerpart" [style.display]="display2" style="width:94%;margin-left:3%;height:auto;background:white;top:65px;z-index: 100;margin-top:-5px;box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);">
     <div class="partcol1" style="width:32%;float: left;">
        <div class="row" style="width:100%">
            <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;margin-top:8px;padding-right:10px">Template Name:</label>
             <input type="text" style="width: 50%;margin-top:8px;"  readonly>
        </div>
         <div class="row" style="margin-top: 10px;width:100%">
             <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;margin-top:8px;padding-right:10px">Origin:</label>
             <input type="text" style="width: 50%;margin-top:8px;"  readonly>
         </div>
         <div class="row" style="margin-top: 10px;width:100%;display: inline-block;">
             <label for="address" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Sequence :</label>
             <input type="text" style="width:50%;margin-top:16px;"readonly>
         </div>
     </div>
     </div>
     </div>



     <div class="accordion2" style="margin-bottom:10px"  >
        <div class="header" (click)="showCenterPart2()"  style="width:94%;margin-left:3%;padding:1%; background-color: #000080;display:inline-block;">
         <span style="font-size: 16px;float:left">Build Template</span>
        <i class="fa-solid fa-plus" [style.transform]="rotate" aria-hidden="true" style="float:right;font-size: 20px;color: red; "></i>     
     
        </div>
    <div class="centerpart" [style.display]="display1" style="width:94%;margin-left:3%;height:auto;background:white;top:65px;z-index: 100;margin-top:-5px;box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);">
     <div class="partcol1" style="width:32%;float: left;">
        <div class="row" style="width:100%">
            <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;margin-top:8px;padding-right:10px">Template Name:</label>
             <input type="text" style="width: 50%;margin-top:8px;"  readonly>
        </div>
         <div class="row" style="margin-top: 10px;width:100%">
             <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;margin-top:8px;padding-right:10px">Origin:</label>
             <input type="text" style="width: 50%;margin-top:8px;"  readonly>
         </div>
         <div class="row" style="margin-top: 10px;width:100%;display: inline-block;">
             <label for="address" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Sequence :</label>
             <input type="text" style="width:50%;margin-top:16px;"readonly>
         </div>
     </div>
     </div>
     </div> -->

     <!-- <div style="margin-top:3% ;background-image: url('assets/3.jpg');">
    <br>
    <h2 class="test" style="text-align: center;">Part Info</h2>
    <br>
  </div> -->
<div class="container" style="height: 1000px">
    <!-- <h4 class="color" style="margin-top:3%">Selection Criteria</h4>
    <div class="inner-container container-border Selection-criteria column gap-4">
        <div class="column-flex ">
            <div>
                <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                     (click)="partnerRadio('engineer')"><b>Engineering Part:</b>
                 <input type="text" id="fname" name="fname" [(ngModel)]="SelectedEngineeringPart" maxlength="20"><br>
            </div> -->
            
            <!-- <div class="row-flex justify-content-start">
                <p class="Origin">Origin:
                    <input type="text" name="origin" list="originName" />
                    <datalist id="originName">
                        <option value="America">America</option>
                        <option value="India">India</option>
                        <option value="London">London</option>
                    </datalist>
                </p>
            </div> -->
            <!-- <div>
                <label>Origin:</label>
                <input type="text" id="fname" name="fname" [(ngModel)]="Origin" readonly>
            </div> -->
            <!-- <div class="row-flex justify-content-start">
                <p class="Origin">Sequence:
                    <input type="text" name="sequence" list="sequenceName" />
                    <datalist id="sequenceName">
                        <option value="Pen">Pen</option>
                        <option value="Pencil">Pencil</option>
                        <option value="Paper">Paper</option>
                    </datalist>
                </p>
            </div> -->
            <!-- <div style="margin-top: 2%;">
                <label>Sequence:</label>
                <input type="text" id="fname" name="fname" [(ngModel)]="Sequence" readonly>
            </div>
    
        </div> -->
        <!-- <div class="column-flex justify-content-between ">
            <div>
                <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    (click)="partnerRadio('service')"><b>Service Part:</b>
            
            <div class="row-flex " style="margin-top:5%;">
                <div class="checkbox" style="display:flex">
                    <input class="form-check-input" type="checkbox"  id="gridCheck1">
                    <label>&nbsp; Service</label>
                </div>
                <div style="display:flex" class="checkbox">
    
                    <input class="form-check-input" type="checkbox" checked id="gridCheck1">
    
                    <label style="margin-top:1%">&nbsp; Finis</label>
                </div>
            </div>
            <div>
                <label>Service Part:</label>
                <input type="text" id="fname" name="fname" [(ngModel)]="SelectedServicePart" maxlength="20">
            </div>
    
            </div>
           
            
    
            
        </div>
        <div class="column-flex justify-content-between">
            <div>
                <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    (click)="partnerRadio('partner')" ><b>Partner Part:</b>
    
                <br>
                <div>
                    
                    <input type="text" id="fname" name="fname" [(ngModel)]="SelectedPartnerPart" maxlength="20">
                </div>
            </div>
            <div>
                <button class="button" style="margin-left:40%; margin-bottom:20%" type="button" (click)="getEngineeringPart()">Select</button>
            </div>
        </div>
    
    </div>
    <br> -->
    <!-- <div class="inner-container container-border eng-and-service-info">
        <div>
            <h5 class="color">Engineering information</h5>
            <div class="column-flex-list">
                <div>
                    <label>Not service released:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="epdtk" readonly>
                </div>
                <div>
                    <label>Rationalized to nbr:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="Rational" readonly>
                </div>
                <div>
                    <label>Engineering description: </label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="engrdes" readonly>
                </div>
                <div>
                    <label>shown on drawing:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="bluepart" readonly>
                </div>
                <div>
                    <label>Part material content:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="materialcontent" readonly>
                </div>
                <div>
                    <label>Kit:</label>
                    <input type="text" id="fname" name="fname"[(ngModel)]="kit" readonly>
                </div>
                <div>
                    <label>Colour description: </label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="desc" readonly>
                </div>
                <div>
                    <label>Regulated Part:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="regulatedpart" readonly> 
                </div>
            </div>
        </div>
        <div>
            <h5 class="color">Service Information</h5>
            <div class="column-flex-list">
                <div>
                    <label>Service Description(SERVICE):</label>
                    <input type="text" id="fname" name="fname"  readonly>
                </div>
                <div>
                    <label>Service Description(FINIS):</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="lexi" readonly>
                </div>
                <div>
                    <label>Motocraft:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="motorcraft" readonly>
                </div>
                <div>
                    <label>Standard Part locator:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="partlocator" readonly>
                </div>
                <div>
                    <label>Industry/NAGS:</label>
                    <input type="text" id="fname" name="fname" [(ngModel)]="nags" readonly>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- <br> -->
    
    
    <div class="accordion3" style="margin-bottom:10px"  >
        <div class="header" (click)="showCenterPart3()"  style="width:94%;margin-left:3%;padding:1%; background-color: #000080;display:inline-block;">
             <span style="font-size: 16px;float:left">Create / Manage Template</span>
         <i class="fa-solid fa-plus" [style.transform]="rotate" aria-hidden="true" style="float:right;font-size: 20px;color: red; "></i>
         
         
        </div>
        <div class="centerpart" [style.display]="display2" style="width:94%;margin-left:3%;height:auto;background:white;top:65px;z-index: 100;margin-top:-5px;box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);">
         <div class="partcol1" style="width:50%;float: left;">
            <div class="row" style="width:100%">
                <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;margin-top:8px;padding-right:10px">Template :</label>
                <input type="text" style="width: 50%;margin-top:8px;" readonly>
            </div>
             <div class="row" style="margin-top: 10px;width:100%">
                 <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;margin-top:8px;padding-right:10px">Product Type:</label>
                 <!-- <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:25%;text-align:right;margin-top:8px;padding-right:10px ">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    > Car </label>
                    <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:25%;text-align:right;margin-top:8px;padding-right:10px ">
                        <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                        > Truck </label> -->
                        <input type="text" style="width: 50%;margin-top:8px;" readonly>
             </div>
             <div class="row" style="margin-top: 10px;width:100%;display: inline-block;">
                 <label for="address" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Template Name :</label>
                 <input type="text" style="width:50%;margin-top:16px;"  >
             </div>
             <div class="row" style="margin-top: 10px;width:100%;display: inline-block;">
                <label for="address" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Help Text :</label>
                <input type="text" style="width:50%;margin-top:16px;"  >
            </div>
            <div class="row" style="margin-top: 10px;width:100%;display: inline-block;">
                <label for="address" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Notes :</label>
                <input type="text" style="width:50%;margin-top:16px;"  readonly>
            </div>
         </div>
         <div class="partcol1" style="width:50%;float: left;">
             <div class="row" style="width: 100%;" >
                <label for="address" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Template Type :</label>
             </div>
             <div class="row" style="width: 100%;margin-left: 15%;">                
                <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px ">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    > Normal </label>       
            </div>
            <div class="row" style="width: 100%;margin-left: 15%;">                
                <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px ">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    > Coloured part </label>       
            </div>
            <div class="row" style="width: 100%;margin-left: 15%;">                
                <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px ">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    > Calibration List </label>       
            </div>
            <div class="row" style="width: 100%;margin-left: 15%;">                
                <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px ">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    > Parts List </label>       
            </div>
            <div class="row" style="width: 100%;margin-left: 15%;">                
                <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px ">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" style="margin-right:1%;"
                    > Visual Id </label>       
            </div>
           
    
         </div>
    
    
         
         <div style="clear:both"></div>
     
        
    
     </div>
       
    
    </div>
    
    
    
    
    
    
    
    
    
    <div class="accordion1" style="margin-bottom:10px"  >
        <div class="header" (click)="showCenterPart()"  style="width:94%;margin-left:3%;padding:1%; background-color: #000080;display:inline-block;">
             <span style="font-size: 16px;float:left">Build Template</span>
         <i class="fa-solid fa-plus" [style.transform]="rotate" aria-hidden="true" style="float:right;font-size: 20px;color: red; "></i>
         
         
        </div>
        <div class="centerpart" [style.display]="display" style="width:94%;margin-left:3%;height:auto;background:white;top:65px;z-index: 100;margin-top:-5px;box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);">
         <div class="partcol1" style="width:40%;float: left;">
             <div class="row" style="width:100%">
                 <label for="suppcode" style=" color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align: right;margin-top:8px;padding-right:10px">Commodity Selection Criteria:</label>
                 <input type="text" style="width: 50%;margin-top:8px;"  readonly >
             </div>
             <div class="row" style="width:100%">
                 <label for="supname" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;width:50%;text-align:right;padding-right:10px">Commodities:</label>
                 <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px ;width: 25%;">
                    <input type="radio" name="vehicle" ng-model="vehicle" value="car" 
                    > Asign </label>
                    <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align:left;padding-right:10px;width: 25%; ">
                        <input type="radio" name="vehicle" ng-model="vehicle" value="car" 
                        > All </label>
             </div>
             <div class="row" style="width:100%;">
                <button class="btn"  style="width: auto;padding-right: 6%;text-align: center;margin-left: 48%;">
                    Select Template
                </button>
             </div>
             <div class="row" style="width:90%;margin-left: 20%;margin-right: 20%;">
                <textarea rows="15" readonly style="border: 1px solid black;border-radius: 3px;">

                </textarea>
             </div>

         </div>
         <div class="partcol1" style="width:50%;float: left;">
             <div class="row" style="width: 100%;" >
                 <label for="pincode" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:8px;padding-right:10px ">Template :</label>
                 <input type="text" style="width: 50%;margin-top:8px;"  readonly>
             </div>
             <div class="row" style="margin-top: 10px;width: 100%;">
                 <label for="city" style="color:#00095B; font-family:Ford Antenna;font-size :16px;font-weight:bold;text-align: right;width:50%;text-align:right;margin-top:16px;padding-right:10px ">Template Name:</label>
                 <input type="text" style="width: 50%;margin-top:8px;"  readonly>
             </div>
             <div class="row" style="width:100%;">
                <!-- <button class="btn"  style="width: auto;padding-right: 6%;text-align: center;margin-right: 20%;">
                    Move
                </button>
                <button class="btn"  style="width: auto;padding-right: 6%;text-align: center;">
                    Move All
                </button> -->
             </div>
             <br>
             <br>
             <br>
             <br>
            
            
             <div class="row" style="width:70%;margin-left: 40%;margin-right: 20%;">
                <textarea rows="15" readonly style="border: 1px solid black;border-radius: 3px;">

                </textarea>
             </div>
            
    
         </div>
         <div class="partrow2"  style="width:86%;margin-left:7%;text-align: center;" > 
            
                <button class="btn">
                Move 
            </button> 
            <button class="btn" >
                Move All
            </button>
         </div>
        
      
    
    
        
         <div style="clear:both"></div>
     
        
    
     </div>
       
    
    </div>
    
    
    
    
    
    
    
    
    
    
   
    
    
    <div class="partrow2"  style="width:86%;margin-left:7%;text-align: center;" > 
            
         <button class="btn">
            Save 
        </button>
        <button class="btn" >
            Delete
        </button>
        <a href="part-work"><button class="btn">
            Commodity
        </button></a>
        <button class="btn" style="width: auto;" >
            Lex Mgmnt
        </button>
        <button class="btn" >
            WQ
        </button>
        <a href="part-info"><button class="btn" type="button" >
           WBS
        </button></a>
    </div>
   
    </div>
    <!-- <p-dialog header="Template Setup" [(visible)]="alert.flag" [style]="{'max-width':'50%', height: 'auto'}" [modal]="true">
        <br>
        {{alert.msg}}
      </p-dialog> -->




   
    
         
         
         
         
        

        
         
         