table,th,td{
    border:1px solid black;
    font-size: 11px;
}
.centerpart{
    /* position: absolute; */
    background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
height:auto;
transition: 0.9s;
}
.header{
    /* position: fixed; */
   /* position:relative; */
    color:white;
    /* background: #102B4E; */
   
    /* z-index: 100; */
    transition: all 0.9s ease;
    background-color: #102B4E !important ;
    font-weight:bold
}
.btn,.dialogbutton{
   
  height: 28px;
  width: 8%;
  text-align: center;
  font-size: 13px;
    border-radius:20px;
    background-color:#00095B;
    box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
    font-family:"Ford Antenne Cond" !important;
    white-space: nowrap;
    
    
}
.p-datatable .p-datatable-thead > tr > th {
  border-width: 1px 1px 1px 1px;
  border: 1px solid #e9ecef;
}
.p-datatable .p-datatable-tbody > tr > td{
  border-width: 1px 1px 1px 1px;
  border: 1px solid #e9ecef;
}
.p-dropdown .p-dropdown-panel{
  font-size: 11px;
}
.p-dropdown .p-dropdown-label{
  font-size: 11px;
  margin-top: -8px;
}
input[type=text]{
  height:28px;
  font-size: 11px;
  margin-top:1%;
  margin-left:-2%;
}
.p-dialog .p-dialog-header .p-dialog-title{
  font-size: 16px;
}
/* .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  /* padding: 0.5rem 0.5rem; */
  /* min-width: 150px;
  padding: 0%;
  padding: 5px;
  border-right: 1px solid white;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

.p-column-filter-menu-button, .p-column-filter-clear-button {
  display: inline-block; */
  /* justify-content: center; */
  /* align-items: center; */
  /* cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
p-columnfilterformelement.p-element.p-fluid {
  display: inline-block;
  width: 60%;
  margin-left:20%;
}
.p-column-filter-row {
  display: inline-block !important;
  align-items: center;
  width: 100%;
} */

/* .p-link.ng-tns-c94-9.ng-star-inserted */
/* button>.p-column-filter-clear-button  {
  color: transparent;
  display: none;
} */
/* button.p-column-filter-clear-button.p-link {
  color: transparent;
  background: transparent;
  display: none;
}
p-dialog .p-dialog-header {
  border-bottom: 0 none;
 
  background: #102B4E !important;
     color: #FFFFFF !important;
  
}
p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: -10px;
  margin-left:20px;
  background: #102B4E !important;
}
thead.p-datatable-thead {
  
  position: sticky;
  top: 0;
 z-index: 100001;
  
  }
  .p-element.ng-trigger.ng-trigger-animation.ng-tns-c102-9.p-dialog.p-component.ng-star-inserted {
    
    width: 39% !important;
}

.p-column-filter-clear-button .p-link{
  display: none;
}
.p-fluid .p-inputtext {
  width: 100%;
  min-width: 100px;
  color:black !important ; */
  /* padding-left: 26px; */
  /* padding: 59px; */
  /* margin-left: -5px; */
  /* margin-right: 112px; */
/* }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.p-fluid .p-inputtext {
  height:38px;
   color: black;
}
.p-column-filter-menu-button {
  width: 20px;
  height: 20px;
  /* color: #6c757d; */
  /* color:white;
  border: 0 none;
  background: transparent;
  border-radius: 0px; 
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datatable-sm{
  box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
}
:host ::ng-deep  .p-column-filter-clear-button .p-link{
  display: none;
}
tr:nth-child(even){ background-color:#f5f5f5 !important; } tr:nth-child(odd){ background-color:#ffff; }
td{
  border-right: 1px solid #bdbdbd !important;
} */ 
:host ::ng-deep .p-element .p-dialog .p-component {
      
  width: 39% !important;
}
:host ::ng-deep p-columnfilterformelement.p-element.p-fluid {
display: inline-block;
width: 60%;
margin-left:20%;
}
.p-column-filter-menu-button {
  width: 20px;
  height: 20px;
  /* color: #6c757d; */
   color:white;
  border: 0 none;
  background: transparent;
  border-radius: 0px; 
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datatable-header{
  height:5px;
}
.p-datatable table{
  margin-top:-2%
}
th{
    font-family:Ford Antenna;
    font-size :11px;
    font-weight:bold;
}
td{
    font-family:Ford Antenna;
    font-size :11px;
}
.p-datatable-wrapper{
  margin-top:-2%
}
:host ::ng-deep .p-column-filter-row {
display: inline-block !important;
align-items: center;
width: 100%;
}
:host ::ng-deep p-columnfilterformelement.p-element.p-fluid {
display: inline-block;
width: 60%;
margin-left:20%;
}
:host ::ng-deep .p-column-filter-row {
display: inline-block !important;
align-items: center;
width: 100%;
} 
:host ::ng-deep .p-fluid .p-inputtext {
  height:38px;
   color: black;
}
 
:host ::ng-deep .p-column-filter-menu-button, .p-column-filter-clear-button {
  display: inline-block;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
:host ::ng-deep td{
  border-right: 1px solid #bdbdbd !important;
  white-space: nowrap !important;
  font-size: 11px;
}
:host ::ng-deep th{
  white-space: nowrap !important;
  border-right: 1px solid white !important;
  font-size: 11px;
}
:host ::ng-deep .p-datatable{
  box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
}
:host ::ng-deep .p-column-filter-clear-button .p-link{
display: none;
}
:host ::ng-deep .p-fluid .p-inputtext {
width: 100%;
min-width: 100px;
color:black !important ;
/* padding-left: 26px; */
/* padding: 59px; */
margin-left: -20px;
/* margin-right: 112px; */
} 
:host ::ng-deep .p-fluid .p-inputtext {
height:38px;
color: black;
}
:host ::ng-deep .p-column-filter-menu-button {
width: 20px;
height: 20px;
/* color: #6c757d; */
color:white;
border: 0 none;
background: transparent;
border-radius: 0px; 
transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
:host ::ng-deep .p-datatable-sm{
box-shadow: 0px 13px 27px -5px rgba(0,0,0,0.75);
}
:host ::ng-deep  .p-column-filter-clear-button .p-link{
  display: none;
}
:host ::ng-deep .p-column-filter-row .p-column-filter-clear-button {
  margin-left: 0.5rem;
  display:none;
}
:host ::ng-deep .p-datatable-thead > tr > th {
  /* padding: 0.5rem 0.5rem; */
 white-space: nowrap;
  padding: 0%;
  padding: 5px;
  border-right: 1px solid white;
  text-align: center;
} 
:host ::ng-deep thead.p-datatable-thead {

  position: sticky;
  top: -7px;
  z-index: 105;
  
  }
    