<!-- jagan -->
<div class="x">
    <div class="card1" style="margin-top:6%; width:45%;margin-left:27%;padding-bottom:2%">
        <div class="card-body">
            <div class="card" style="margin-top:5%;width:50%;margin-left:25%">
                <div class="card-header" style="background-color: #000080;color:white">
                    Status
                </div>
                <div class="card-body" style=" margin-top:-2%;padding-bottom:33px">
                    <div style="margin-left:10%;display: flex;">
                        <div class="form-check" style="display: flex;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Complete</label>
                                <input type="text" id="search4"  name="search" style="width: 350%;">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Incomplete</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top:10px;width:70%;margin-left:15%">
                <div class="card-header" style="background-color: #000080;color:white">
                    Task
                </div>
                <div class="card-body" style=" margin-top:-2%;padding-bottom:33px">
                    <div style="margin-left:10%;display: flex;">
                        <div class="form-check" style="display: flex;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Assign Template Name</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Assign Commodities</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" style="border-radius: 8px;width:120px;margin-left:40%;margin-top: 20px;">OK</button>
            <button type="button"
                style="border-radius: 8px;width:120px;margin-left: 40%;margin-top: 15px;">cancel</button>
        </div>
    </div>
</div>