<div style="margin-top:3.5% ;background-image: url('assets/3.jpg');margin-bottom: -2%;">
    <br>
  <h2 class="test" style="text-align: center;">Education Usage</h2>
  <hr>
  </div>
  <br>

<div style="margin-left: 10px;margin-right: 10px;">
    <div class="card border-dark " style="width:100%">
        <div class="card-header" style="background-color: #000080;color: white;">Part Information</div>
        <div class="row pb-3" style="margin-top: 2%;margin-left: 2%;">
          <div class="col-md-4" style="display: flex;">
            <label  style="width: 30%;">
              Eng.# : </label>
            <div style="width: 60%;">
              <input type="text" style="border-color: black"/>
            </div>
          </div>
          <div class="col-md-4" style="display: flex;">
            <label  style="width: 20%;">
              Orgin : </label>
            <div style="width: 60%;">
              <input type="text" style="border-color: black"/>
            </div>
          </div>
          <div class="col-md-4" style="display: flex;">
            <label  style="width: 25%;">
              Seq.# : </label>
            <div style="width: 60%;">
              <input type="text" style="border-color: black"/>
            </div>
          </div>
          </div>
          <div class="row pb-3" style="margin-top: 1%;margin-left: 2%;">
            <div class="col-md-4" style="display: flex;">
              <label  style="width: 30%;">
                Product Type : </label>
              <div style="width: 60%;">
                <input type="text" style="border-color: black"/>
              </div>
            </div>
            <div class="col-md-4" style="display: flex;">
              <label  style="width: 20%;">
                PT Orgin : </label>
              <div style="width: 60%;">
                <input type="text" style="border-color: black"/>
              </div>
            </div>
            <div class="col-md-4" style="display: flex;">
              <label  style="width: 25%;">
                Vehicle Line : </label>
              <div style="width: 60%;">
                <input type="text" style="border-color: black"/>
              </div>
            </div>
            </div>
            <div class="row pb-3" style="margin-top: 1%;margin-left: 2%;">
              <div class="col-md-4" style="display: flex;">
                <label  style="width: 30%;">
                  Desc : </label>
                <div style="width: 60%;">
                  <input type="text" style="border-color: black"/>
                </div>
              </div>
              <div class="col-md-8" style="display: flex;">
                <label  style="width: 20%;">
                  Commodity Desc : </label>
                <div style="width: 90%;margin-right: 7%;">
                  <input type="text" style="border-color: black"/>
                </div>
              </div>
              </div>
      </div>

    <div class="container" style="margin-top: 2%;width: 100%;border:1px solid black">
        <h5 style="font-size: medium;margin-top: 2%;">Usage List</h5>
        <div class="container" style="width:100%">
            <p-table [value]="data" styleClass="p-datatable-customers" scrollDirection="both" [paginator]="true"
                [rows]="1" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                responsiveLayout="scroll" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header" style="background-color: rgb(167, 190, 228);border-color: black;">
                        PCII Timing
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <td colspan="2" style="background-color: white;"></td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective In</td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective Out</td>
                    </tr>
                    <tr>
                        <th colspan="2">Region</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d>
                    <tr *ngFor="let list of PciiTiming">
                        <td colspan="2">{{list.region}}</td>
                        <td colspan="2">{{list.codeIn}}</td>
                        <td>{{list.dateIn}}</td>
                        <td>{{list.sourceIn}}</td>
                        <td colspan="2">{{list.codeOut}}</td>
                        <td>{{list.dateOut}}</td>
                        <td>{{list.sourceOut}}</td>
                </ng-template>
            </p-table>

        </div>
    </div>
    
    <div class="container" style="margin-top: 2%;width: 100%;border:1px solid black">
        <h5 style="font-size: medium;margin-top: 2%;">Usage Information</h5>
        <div class="container" style="width:100%">
            <p-table [value]="data" styleClass="p-datatable-customers" scrollDirection="both" [paginator]="true"
                [rows]="1" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                responsiveLayout="scroll" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header" style="background-color: rgb(167, 190, 228);border-color: black;">
                        PCII Timing
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <td colspan="2" style="background-color: white;"></td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective In</td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective Out</td>
                    </tr>
                    <tr>
                        <th colspan="2">Region</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d>
                    <tr *ngFor="let list of PciiTiming">
                        <td colspan="2">{{list.region}}</td>
                        <td colspan="2">{{list.codeIn}}</td>
                        <td>{{list.dateIn}}</td>
                        <td>{{list.sourceIn}}</td>
                        <td colspan="2">{{list.codeOut}}</td>
                        <td>{{list.dateOut}}</td>
                        <td>{{list.sourceOut}}</td>
                </ng-template>
            </p-table>

        </div>
    </div>

    <div class="container" style="margin-top: 2%;width: 100%;border:1px solid black">
        <h5 style="font-size: medium;margin-top: 2%;">Property</h5>
        <div class="container" style="width:100%">
            <p-table [value]="data" styleClass="p-datatable-customers" scrollDirection="both" [paginator]="true"
                [rows]="1" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                responsiveLayout="scroll" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header" style="background-color: rgb(167, 190, 228);border-color: black;">
                        PCII Timing
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <td colspan="2" style="background-color: white;"></td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective In</td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective Out</td>
                    </tr>
                    <tr>
                        <th colspan="2">Region</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d>
                    <tr *ngFor="let list of PciiTiming">
                        <td colspan="2">{{list.region}}</td>
                        <td colspan="2">{{list.codeIn}}</td>
                        <td>{{list.dateIn}}</td>
                        <td>{{list.sourceIn}}</td>
                        <td colspan="2">{{list.codeOut}}</td>
                        <td>{{list.dateOut}}</td>
                        <td>{{list.sourceOut}}</td>
                </ng-template>
            </p-table>

        </div>
    </div>

    <div class="container" style="margin-top: 2%;width: 100%;border:1px solid black">
        <h5 style="font-size: medium;margin-top: 2%;">Timing</h5>
        <div class="container" style="width:100%">
            <p-table [value]="data" styleClass="p-datatable-customers" scrollDirection="both" [paginator]="true"
                [rows]="1" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                responsiveLayout="scroll" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header" style="background-color: rgb(167, 190, 228);border-color: black;">
                        PCII Timing
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <td colspan="2" style="background-color: white;"></td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective In</td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective Out</td>
                    </tr>
                    <tr>
                        <th colspan="2">Region</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr *ngFor="let list of PciiTiming">
                        <td colspan="2">{{list.region}}</td>
                        <td colspan="2">{{list.codeIn}}</td>
                        <td>{{list.dateIn}}</td>
                        <td>{{list.sourceIn}}</td>
                        <td colspan="2">{{list.codeOut}}</td>
                        <td>{{list.dateOut}}</td>
                        <td>{{list.sourceOut}}</td>
                </ng-template>
            </p-table>

        </div>
    </div>

    <div class="container" style="margin-top: 2%;width: 100%;border:1px solid black">
        <h5 style="font-size: medium;margin-top: 2%;">Catalogue Timing</h5>
        <div class="container" style="width:100%">
            <p-table [value]="data" styleClass="p-datatable-customers" scrollDirection="both" [paginator]="true"
                [rows]="1" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                responsiveLayout="scroll" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header" style="background-color: rgb(167, 190, 228);border-color: black;">
                        PCII Timing
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <td colspan="2" style="background-color: white;"></td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective In</td>
                        <td colspan="4" style="background-color: white;text-align: center;">Effective Out</td>
                    </tr>
                    <tr>
                        <th colspan="2">Region</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                        <th colspan="2">Code</th>
                        <th>Date</th>
                        <th>Source</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr *ngFor="let list of PciiTiming">
                        <td colspan="2">{{list.region}}</td>
                        <td colspan="2">{{list.codeIn}}</td>
                        <td>{{list.dateIn}}</td>
                        <td>{{list.sourceIn}}</td>
                        <td colspan="2">{{list.codeOut}}</td>
                        <td>{{list.dateOut}}</td>
                        <td>{{list.sourceOut}}</td>
                </ng-template>
            </p-table>

        </div>
    </div>
    <div class="container" style="margin-bottom:3%;margin-top: 3%;">
        <button style="margin-left:6%;">Usage Timing Chg</button>
        <button>In Content</button>
        <button>Cancel</button>
        <button>WPS</button>
        <button>PIC</button>
        <button>Save</button>
    </div>
    <br>
</div>