
   <h3 style="margin-top: 10px;"> Selection Criteria</h3>
<div class="row">
<div class="col-lg-3">
    <div class="form-group">
    <div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
        <input class="chck col-xs-3" type="checkbox" name="val" value="Analyst ID" id="check" /> 
    <label for="check" style="padding-top: 12px;
    padding-left: 12px"><strong> Analyst ID: </strong></label>
    <select id="check" class="form-select col-xs-9" style="border-color:black; margin-top: 7px; height: 40px;">
    <option  >option1</option>
    <option  >option2</option>
    <option  >option3</option>
    <option  >option3</option>
    </select> 
</div>
</div>
<div class="col-lg-3"> <div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
    <input class="chck" type="checkbox" name="val" value="Template" id="temp" /> 
<label for="temp" style="padding-top: 12px;
    padding-left: 12px"><strong>Template: </strong></label></div><select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
    <option  >option1</option>
    <option  >option2</option>
    <option  >option3</option>
    <option  >option3</option>
    </select>  </div>
<div class="col-lg-3"> <div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
    <input class="chck" type="checkbox" name="val" value="Commodity" id="cmd" /> 
<label for="cmd" style="padding-top: 12px;
    padding-left: 12px"><strong> Commodity: </strong></label></div> <input class="si" type="text" style="margin-top: -1px;height: 41px;"></div>
<div class="col-lg-3"> <div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
    <input class="chck" type="checkbox" name="val" value="Eng Base" id="eb" /> 
<label for="eb" style="padding-top: 12px;
    padding-left: 12px"><strong> Eng Base: </strong></label></div> <input class="si" type="text" style="margin-top: -1px;height: 41px;"></div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-lg-3"><div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
        <input class="chck" type="checkbox" name="val" value="Analyst ID" id="pt" /> 
    <label for="pt" style="padding-top: 12px;
    padding-left: 12px"><strong> Product Type: </strong></label></div> <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
        <option  >option1</option>
        <option  >option2</option>
        <option  >option3</option>
        <option  >option3</option>
        </select> </div>
    <div class="col-lg-3"> <div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
        <input class="chck" type="checkbox" name="val" value="Analyst ID" id="pto" /> 
    <label for="pto" style="padding-top: 12px;
    padding-left: 12px"><strong> Prod Type Origin: </strong></label></div>  <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
        <option  >option1</option>
        <option  >option2</option>
        <option  >option3</option>
        <option  >option3</option>
        </select> </div>

    <div class="col-lg-6"> <div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
        <input style="width: 3.5%;" type="checkbox" name="val" value="Analyst ID" id="vl" /> 
    <label for="vl" style="padding-top: 12px;
    padding-left: 12px"><strong> Vehicle Line: </strong></label></div> <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
        <option  >option1</option>
        <option  >option2</option>
        <option  >option3</option>
        <option  >option3</option>
        </select> </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-3"><div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
            <input class="chck" type="checkbox" name="val" value="Analyst ID" id="sap" /> 
        <label for="sap" style="padding-top: 12px;
    padding-left: 12px"><strong> SAP Code: </strong></label></div> <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
            <option  >option1</option>
            <option  >option2</option>
            <option  >option3</option>
            <option  >option3</option>
            </select></div>
            <div class="col-lg-3"><div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
                <input class="chck" type="checkbox" name="val" value="Analyst ID" id="srci" /> 
            <label for="srci" style="padding-top: 12px;
    padding-left: 12px"><strong> Source In: </strong></label></div> <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
                <option  >option1</option>
                <option  >option2</option>
                <option  >option3</option>
                <option  >option3</option>
                </select></div>
                <div class="col-lg-3"><div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
                    <input class="chck" type="checkbox" name="val" value="Analyst ID" id="dt" /> 
                <label for="dt" style="padding-top: 12px;
    padding-left: 12px"><strong> Effective In date: </strong></label></div> <input class="si" type="date" style="height: 41px;
                margin-top: 0px;"></div>
                <div class="col-lg-3"><div class="checkbox" style="margin-top: 0px;
    margin-bottom: 14px;
    display: flex;">
                    <input class="chck" type="checkbox" name="val" value="rc" id="rc" /> 
                <label for="rc" style="padding-top: 12px;
    padding-left: 12px"><strong> Reason Code: </strong></label></div> <select  class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
                    <option  >option1</option>
                    <option  >option2</option>
                    <option  >option3</option>
                    <option  >option3</option>
                    </select></div>
    </div>
  
</div>

<table>
    <tr>
        <td style="width:18px"><input  type="checkbox"/></td>
        <td style="width:100px">Analyst ID:</td>
        <td style="width:250px">
        <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;width:200px">
            <option  >option1</option>
            <option  >option2</option>
            <option  >option3</option>
            <option  >option3</option>
            </select> 
        </td>

        <td style="width:18px;margin-left: 5%;"><input  type="checkbox"/></td>
        <td style="width:100px">Analyst ID:</td>
        <td style="width:200px">
        <select class="form-select" style="border-color:black; margin-top: 7px; height: 40px;">
            <option  >option1</option>
            <option  >option2</option>
            <option  >option3</option>
            <option  >option3</option>
            </select> 
        </td>
    </tr>
</table>

<div style="margin-top: 20px;text-align: center;">
    <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:150px;" ><i class="fas fa-search"></i> Search </button>
    <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:150px;margin-left: 10px;" ><i class="fa fa-refresh"></i> Refresh </button>
</div>

<p-table [value]="data" styleClass="p-datatable-customers" scrollDirection="both" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll" [rowHover]="true">
  <ng-template pTemplate="caption">
      <div class="table-header" style="background-color: wheat;border-color: black;">
          GCAT
      </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="font-size: 20px !important;">Eng Part #</th>
      <th >Service</th>
      <th >Commodity</th>
      <th >Reas Code</th>
      <th >PT</th>
      <th >VL</th>
      <th >Eff In</th>
      <th >Source</th>
      <th >Code</th>
      <th >IRP #</th>
      <th >Reas Code</th>
      <th >Function Key</th>
      <th >IRP Status</th>
      <th >User ID Key</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-d>
      <tr>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
          <td>{{d.value}}</td>
      </tr>
  </ng-template>
</p-table>

<div class="row button" >
   <div class="col lg-12">
       
      <button type="button" style="background-color: rgb(183, 181, 181);color: rgb(0, 0, 0);border-radius: 8px;width:120px">Delete</button> 
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;" (click)="keyData()">Key Data</button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Cmdty >></button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Reset</button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Cmdty Check</button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Recover Part >></button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Assignent Detail</button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Close</button>
      <button type="button" style="background-color: #000080;color: white;border-radius: 8px;width:120px;margin-left: 10px;">Save UTC</button>
      </div>
    </div>

  <br>

  <p-dialog header="Key Data" [(visible)]="displayKey" [style]="{width: '50vw',background: 'white'}">
    <hr>
    Key Data :
    <textarea pInputTextarea [style]="{height: '20vw',background: 'grey'}"></textarea>
    <br>
    <ng-template pTemplate="footer">
      <button style="margin-left: 40%;background-color: #000080;color: white;border-radius: 8px;width:100px;">Save</button>
    </ng-template>
</p-dialog>

