label{
    font-size: 11px;
    color:#000080 !important;
    font-family:Ford Antenna;
  
    }

    p{
        font-size: 16px;
    color:#000080;
    font-family:Ford Antenna;
    }

    :host ::ng-deep .p-dialog-header-icon.p-dialog-header-close.p-link.ng-star-inserted {
        margin-left: 25px !important;
    }

    #btn{
        height:31px;
        width:auto;
        font-size: 12px !important;
        border-radius:20px;
        background-color:#000080 !important;
        box-shadow:0 20px 20px 0 rgba(0,0,0,0.1), 0 10px 10px 0 rgba(0,0,0,0.1);
        font-family:"Ford Antenne Cond" !important;
        white-space: nowrap;
        /* margin-left: 8%; */
        
      }
      .p-dialog .p-dialog-header .p-dialog-title {
		font-size: 16px;
		font-weight: bold;
        color: white;
        font-family:Ford Antenna;
	}
	
	.p-dialog .p-dialog-header{
		height: 40px;
    }
    
    .p-dialog .p-dialog-content{
		padding:1%;
    }

    spacing{
        padding-right:10px;
    }

.tab-align {
    background-color: #000080;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1%;
    border-radius: 0;
    font-size: 15px;
    border-radius: 3px;
    border: 0.5px solid white;
}

tr,
td {
    margin: 1%;
    box-sizing: border-box;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    font-family:Ford Antenna;
}

#headerFont{
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-right: 10%;
    background-color: #000080;
}
th {
    background-color: #000080 !important;
    color: white !important;
    margin: 1%;
    margin-top: 3px;
    padding-top: 3px !important;
    box-sizing: border-box;
    border-right: 1px solid black;
    font-family:Ford Antenna !important;
}

button {
    margin-left: 2%;
    width: 8%;
    background-color: #000080 !important;
    color: white !important;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    margin-bottom: 1%;
    font-size: 15px;
    font-weight: 700;
}

button:active {
    transform: translateY(1px);
}

button:focus {
    background-color: #000065;
}

.radio-align {
    margin-left: 30%;
    margin-right: 2%;
    padding: 1%;
}

.radio-align1 {
    margin-left: 10%;
    margin-right: 2%;
    padding: 1%;
    margin-top: -10px
}

.tab a {
    border-color: white;
    background-color: #000080;
    color: white;
    height: 50px;
    padding-left: 25%;
    margin-left: 1%;
    margin-bottom: 1px;
    border-radius: 5px;
}

/*Hover tab*/
.p-tabview li:not(.p-highlight):hover .p-tabview-nav-link {
    background-color:  #000060;
    color: white !important;
    border-color: black;
}

/* Selected tab */
.p-tabview .p-highlight .p-tabview-nav-link {
    background-color: #000060;
}

.p-dropdown{
    width: 80%;
    
    padding-top: 3%;
    background-color: white;
    position : relative;
}

 .p-dropdown-items{
    padding-left: 3%;
    background-color: white !important;
      color: black;
      list-style-type: initial;
} 

.selected{
    background-color: #000080;
}

.scrollTable tr:hover {
    background-color: #000080;
    color: white;
  }

.hoverColor:hover{
    color: white !important;
}

.highlightRow {
    background-color: #000080 !important;
    color: white !important;
  }

  .tableContainer{
    width: 100%;
    border: 1px solid black;
    height: 80%;
    overflow-x:auto;
    border-radius: 3px;
  }

  /* .p-dialog .p-dialog-header{
    border-bottom: 0 none;
    background: #000080;
    color: white;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-dialog-header {
    background:#000080;
    color: white;
}

.p-dialog-header ng-tns-c96-0 ng-star-inserted{
    border-bottom: 0 none;
    background: #1e2271 !important;
    color: white;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
} */

.required:before {
    content:" *";
    color:#e32;
    font-size: 20px; 
    font-weight:bolder;
  }

  ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    margin-top: -7px;
    }

  a:link a:hover a:visited a:active{
    text-decoration: none !important;
    display: inline-block;
  }

  .highlightRow {
    background-color: #000080 !important;
    color: white !important;
  }

  thead.p-datatable-thead {
  
    position: sticky;
    top: 0;
    z-index: 100001;
    
    }

   ::ng-deep .ng-trigger .ng-trigger-overlayAnimation .ng-tns-c69-1 .p-datepicker .p-component .ng-star-inserted{
        width: 190% !important;
        top: 350px !important;
    }

    ::ng-deep .p-datepicker table td {
        padding: 0%;
    }

    ::ng-deep .p-calendar-w-btn .p-inputtext {
        height: 38px;
    }

    ::ng-deep .p-datepicker table td > span {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        transition: box-shadow 0.2s;
        border: 1px solid transparent;
    }

    ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        margin-right: 0.5rem;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        color: #495057;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        font-weight: 600;
        padding: 0.5rem;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    ::ng-deep span#pr_id_1_label {
        font-size: 11px !important;
        margin-top: -8px;
    }
    ::ng-deep span#pr_id_2_label {
        font-size: 11px !important;
        margin-top: -8px;
    }
    ::ng-deep span.ng-star-inserted {
        font-size: 11px !important;
    }
    ::ng-deep .p-button.p-component.p-button-icon-only.ng-star-inserted {
        height: 25px;
    }
    ::ng-deep .p-inputtext.p-component.ng-star-inserted {
        height: 25px;
        font-size: 11px;
    }
    ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
        /* padding: 0.5rem 0.5rem; */
        padding: 0 2px;
        font-size: 11px !important;
        text-align: center;
    }
    ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
        padding: 0 2px;
        font-size: 11px !important;
        text-align: center;
    }