input[type=text]{
    width:130px;
    margin-left: 125px;
    margin-top: -38px;
}
.card-header{
    background-color: #000080;
    color: white;
}
.card{
    height:276px;
    width: 593px;
}
label{
    margin-top: 23px;
    margin-left: 15px;
}
.car,.truck{
    margin-top: -23px;
}
.radio1{
    margin-left: 128px;
    margin-top: -28px;
}
.car{
    margin-left: 23px;
}
.radio2{
    margin-left: 197px;
    margin-top: -33px;
}
.truck{
    margin-left: 23px;
}
.radiobutton{
    margin-top: -10px;
}
.engContainer{
    margin-top:30px;
}
.dropdown{
    margin-left: 127px;
    margin-top: -34px;
}
.textboxes{
    margin-top: 56px;
}
.text1,.text2,.text3,.text4{
    width:55px !important;
}
.text1{
    margin-left: 18px !important;
}
.text2{
    margin-left: 79px !important;
}
.text3{
    margin-left: 139px !important;
}
.text4{
    margin-left: 199px !important;
}
button{
    margin-top: 28px;
    width:80px;
    background-color: #000080;
    color: white;
}